#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   text-align: center;

}

#game-controls {
    margin-bottom: 30px;
    
}
#div-game-board {
    
    
    background-color: aquamarine;
    width: 33vw;
    height: 33vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    border: 0.5 solid black;
   
}

.square {
    border: 0.1vmax solid black;
    
}
h1 {
    text-align: center;
}
p {
    font-size: 3vw;
}