body {
    background-color: #7D6B7D;
}
#message {
    font-size: 1.5rem;
}
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   text-align: center;

}

#game-controls {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 33vw;
    
}
#div-game-board {
    
    
    background-color: #A3A1A8;
    width: 33vw;
    height: 33vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    border: 0.5 solid black;
   
}

.square {
    border: 0.1vmax solid black;
    
}
h1 {
    text-align: center;
    color: #FF665A;
}
p {
    font-size: 3vw;
    color: #FF665A
}